*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    margin-top: 10px;
}
#chart_pie_actives,
#chart_column_actives,
#chart_pie_receptives,
#chart_column_receptives,
#chart_pie_internals,
#chart_column_internals
{
    display: flex;
    justify-content: center;
}
.row{
    height: 1500px;
}
.tabs-content.carousel.carousel-slider{
    height: 100%;
}